[Unit]
Description=Ethereum Network Stats start service

[Service]
User=boksgsadmin
Group=boksgsadmin
Type=forking
ExecStart=/home/boksgsadmin/blockcheq-node/scripts/eth-netstats-start.sh
ExecStop=/home/boksgsadmin/blockcheq-node/scripts/eth-netstats-stop.sh

[Install]
WantedBy=multi-user.target